*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: rgb(248, 247, 239);
}
@font-face {
	font-family: 'VinSlabPro-Light'; 
	src: local('VinSlabPro-Light'),
		url("fonts/VinSlabPro-Light_0.ttf"); 
}
@font-face {
	font-family: 'Mak'; 
	src: local('Mak'),
		url("fonts/19281.ttf"); 
}
::-webkit-scrollbar{
    display: none;
}
.menu{
    width: 100%;
    height: 100px;
    border-top: solid 0.5px rgb(58, 46, 31);
    border-bottom: solid 0.5px rgb(58, 46, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(226, 226, 219);
}
.name {
    color: rgb(78, 152, 167);
    font-size: 45pt;
    font-family: 'Mak';
    font-weight: 100;
    margin-right: 500px;
  }
.navTop a{
    margin-left: 100px;
    text-decoration: none;
    color: rgb(58, 46, 31);
    font-size: 26pt;
    font-family: 'VinSlabPro-Light';
    transition: all 1s ease 0s;
}
.navTop a:hover{
    color: rgb(78, 152, 167);
    font-size: 28pt;
}
/* Style tab links */
.tablink {
    background-color: rgba(82, 67, 49, 0.3);
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 28px;
    font-family: 'VinSlabPro-Light';
    width: 25%;
}
.tablink:hover {
    background-color: rgba(82, 67, 49, 0.1);
}
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    font-family: 'VinSlabPro-Light';
    font-size: 20pt;
    display: flex;
    padding: 50px;
    height: 100%;
    justify-content: space-between;
}
.small{
    font-size: 14pt;
}
.txtBox{
    width: 400px;
}
.txtBox1{
    width: 500px;
}
.txtBox2{
    width: 40%;
    padding: 0 70px;
}
.txtBox3{
    width: 100%;
}
#coffee {background-color: #a7ccd3;}
#cold {background-color: #b8d6dc;}
#hot {background-color: #a7ccd3;}
#tea {background-color: #b8d6dc;}
.container{
    margin-top: 100px;
    height: 100%;
}

.footer{
    width: 100%;
    height: 500px;
    background-color: rgba(78, 152, 167, 0.71);
    color: rgb(248, 247, 239);
    font-family: 'VinSlabPro-Light';
    font-size: 28pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.footer a{
    text-decoration: none;
    color: rgb(248, 247, 239);
    transition: all 1s ease 0s;
}
.footer a:hover {
    transform: scale(1.1);
}
.contactBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 250px;
}
.addBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.posContainer{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.posContainer1{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    width: 400px;
}
.posContainer2{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    width: 300px;
}
@media screen and (max-width: 1024px){
    
    .map{
        width: 400px;
        height: 300px;
    }
    .posContainer{
        font-size: 25pt;
    }
    .posContainer1{
        font-size: 25pt;
        width: 270px;
    }
    .posContainer2{
        font-size: 25pt;
        width: 220px;
    }
    #coffee{
        padding: 40px;
    }
    .txtBox2{
        padding: 0;
    }
}
@media screen and (max-width: 425px){
    .tabcontent{
        flex-direction: column;
    }
}